*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: slategray;
}

h1{
    color: white;
}
.odd{
    color: red;
}
/* CLASS = . (TITIK) */
.even{
    color:  blue;
}
/* ID = # (KRES) */
#p1{
    color: tomato;
}
#p2{
    color: rgb(77, 208, 247);
}
#p3{
    color: goldenrod;
}
#p4{
    color: hsl(277, 100%, 62%);
}
#p5{
    color: red;
}
#p6{
    color: yellow;
}
#p7{
    color: fuchsia;
}
#p8{
    color: orange;
}






















header{
    background-color: hsl(0, 0%, 86%);
    text-align: center;
    padding: 25px;
}

.navbar{
    background-color: hsl(0, 0%, 15%);
    height: 50px;
}
aside{
    width: 20%;
    float: left;
    padding: 10px;
    
}
section{
    width: 40%;
    float: left;
    padding: 10px;
}
article{
    width: 40%;
    float: left;
    padding: 10px;
}

footer{
    display: block;
    clear: both;
    background-color: hsl(0, 0%, 86%);
    text-align: center;
    padding: 25px;
}

@media screen and (max-width:600px) {
    aside, section, article {
        width: 100%;
    }   
}