*{
    box-sizing: border-box;
}
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 1000 */

/* .cairo-play-<uniquifier> {
  font-family: "Cairo Play", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
} */
body{
    margin: 0;
    background-image: url("images/Fall_Wallpaper.jpg");
    /* background-color: linear-gradient(to top,skyblue, white); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;


}

p,h1,h2,h3,h4,h5,h6{
    font-family: Cairo Play,Roboto,verdana, arial;
    background-color: linear-gradient(to top,skyblue, rgb(252, 72, 72));
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(95, 95, 95);
    border-top-style: dotted;
    border-bottom-style: dotted;
    border-left-style: double;
    border-left-width: 10px;
    border-left-color: silver;
}
p{
    font-family: "Cairo Play", "lucida console", "courier new";
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
    text-decoration: cyan dotted underline;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(255, 197, 197);
    padding: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}




.odd{
    color: red;
}
/* CLASS = . (TITIK) */
.even{
    color:  blue;
}
/* ID = # (KRES) */
#p1{
    color: tomato;
}
#p2{
    color: rgb(77, 208, 247);
}
#p3{
    color: goldenrod;
}
#p4{
    color: hsl(277, 100%, 62%);
}
#p5{
    color: red;
}
#p6{
    color: rgb(57, 248, 83);
}
#p7{
    color: fuchsia;
}
#p8{
    color: orange;
}






















header{
    background-color: hsl(0, 0%, 86%);
    text-align: center;
    padding: 25px;
}

.navbar{
    background-color: hsl(0, 0%, 15%);
    height: 50px;
}
aside{
    width: 20%;
    float: left;
    padding: 10px;
    
}
section{
    width: 40%;
    float: left;
    padding: 10px;
}
article{
    width: 40%;
    float: left;
    padding: 10px;
}

footer{
    display: block;
    clear: both;
    background-color: hsl(0, 0%, 86%);
    text-align: center;
    padding: 25px;
}

@media screen and (max-width:600px) {
    aside, section, article {
        width: 100%;
    }   
}